body{
  font-family: 'Forum', cursive;
  background-image: url("/img/seamless_paper_texture.png");
}
.imgMod{
  padding-top: 35px;
  border-top: 1px solid grey;
}
.imgMod img{
  padding-right: 24px;
  padding-bottom: 40px;
}
.footerMod{
  background-color: rgb(243,243,243);
  border-top: 1px solid grey;
  padding-top: 10px;
  
}
.boxShadowed{
  -webkit-box-shadow: 0px -1px 19px 0px rgba(54, 50, 50, 0.51);
  -moz-box-shadow: 0px -1px 19px 0px rgba(54, 50, 50, 0.51);
  box-shadow: 0px -1px 19px 0px rgba(54, 50, 50, 0.51);
}
.htextsh{
  text-shadow: 1px 4px 30px 5px rgba(54, 50, 50, 0.51);
}
.ulMod li span:hover{
  color: red;
}
.logoMenu{
  margin-left: -154px;
  margin-right: -84px;
}
.logoMenu li{
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.logoMenu li a{
  text-decoration: none;
}
/*.logoMenu li a :hover{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}*/
/*.active a{
  border-top: 2px solid black!important;
  border-bottom: 2px solid black!important;
}*/
.logoMenu li h3{
  color: rgb(54,54,54)!important;  
}
.socialGroup{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}
.socialGroup img{
  width: 64px;
}
.socialGroup a{
  vertical-align: middle;
}
.logoText h1{
}
.logoSearch .form-control{
  width: 16%!important;
  position: absolute;
  margin-left: 950px;
  margin-top: -114px;
}
.footerMod h4{
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.books{
  background-image: url("/img/tweed.png");
  padding: 15px;
}

.bookInfo{
  font-family: 'PT Sans Caption', sans-serif;
}
.bookInfo h2{
  color: white;
}

.bookInfo .shortInfo{
  background-color: white;
  padding: 15px;  
}

.bookInfo .descriptionInfo{
  border-right: 1px solid grey;
}
.bookInfo .btn-primary{
  background-color: #4fc1e9!important;
  border-color: #4fc1e9!important;
}